#content {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-top: $header-height;
}

.header {
    height: $header-height;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $brand-color;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 0 10%;
    overflow: hidden;
    z-index: 10;

    a {
        color: #fff;
        text-decoration: none;
    }

    .logo {
        height: $header-height;
        line-height: $header-height;
        font-size: 44px;
        float: left;
    }

    button {
        @include brand-button;
        float: right;
        margin: 14px 0 14px 12px;
    }

}

.question-list {
    width: 65%;
    min-width: 300px;
    max-width: 800px;
    margin: 0 auto;

    .question-block {
        margin-bottom: 52px;
    }

    .question {
        text-align: center;
        margin: 20px 0;
        font-size: 36px;
        color: $text-color;
    }

    .choices {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .choice {
            position: relative;
            float: left;
            width: 50%;

            input[type='checkbox'] {
                position: relative;
                height: 88px;
                width: calc(100% - 12px);
                margin: 6px;
                cursor: pointer;

                &::after {
                    content: "";
                    display: block;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    border-radius: 4px;
                    background: #e9e9e9;
                    transition: background .25s;
                }

                &:hover::after, &:focus::after {
                    background: #bbb;
                }

                &:checked::after {
                    background: $brand-color;
                }

                &:checked + label {
                    color: #fff;
                }
            }

            label {
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                text-align: center;
                line-height: 100px;
                font-size: 24px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}

.result-list {
    width: 65%;
    min-width: 300px;
    max-width: 800px;
    margin: 0 auto;

    .result-block {
        margin-bottom: 52px;
    }

    .question {
        text-align: center;
        margin: 20px 0;
        font-size: 36px;
        color: $text-color;
    }
    
    canvas {
        width: 100% !important;
        height: 400px !important;
        display: block;
    }
}

.footer {
    text-align: center;
    width: 100%;
    color: #777;
    font-size: 18px;
    margin-bottom: 28px;

    a {
        color: $brand-color;

        &:hover {
            opacity: .9;
        }
    }
}

.modal {
    position: fixed;
    display: block;
    overflow: visible;
    width: 300px;
    height: auto;
    min-height: 140px;
    top: 200px;
    left: calc(50vw - 150px);
    z-index: 30;
    color: #000;

    // closed state styles
    pointer-events: none;
    opacity: 0;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transition: transform .3s ease-out, -webkit-transform .3s ease-out, opacity .3s;

    &.open {
        // open state styles
        pointer-events: all;
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
    }

    &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
    }

    &::before {
        height: 140vh;
        width: 140vw;
        background: rgba(0, 0, 0, 0.3);
        top: -268px;
        left: calc(150px - 70vw);
    }

    &::after {
        // actually visible window area
        height: calc(100% + 24px);
        width: calc(100% + 24px);
        box-shadow: 0 10px 16px -2px rgba(0, 0, 0, 0.3);
        top: -12px;
        left: -12px;
        background: #fff;
    }

    .title {
        display: block;
        position: absolute;
        font-size: 28px;
        height: 50px;
        width: calc(100% + 24px);
        left: -12px;
        top: -12px;
        padding: 8px 12px;
        box-sizing: border-box;
        background: $brand-color;
        line-height: 34px;
        color: #fff;
    }

    .body {
        display: block;
        margin-top: 48px;
        margin-bottom: 68px;
        font-size: 20px;
    }

    .okButton {
        @include brand-button;
        // positioning stuff
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

@media only screen and (max-width: 830px) {

    .header {
        padding: 0 12px;
    }

    .question-list .question {
        font-size: 28px;
    }

    .question-list .choices .choice {
        width: 100%;

        input[type="checkbox"] {
            height: 48px;
        }

        label {
            line-height: 60px;
            font-size: 20px;
        }

    }

    footer {
        font-size: 16px;
    }

}

@media only screen and (max-width: 680px) {

    .header {
        height: $header-height-mobile;

        .logo {
            height: $header-height-mobile;
            line-height: $header-height-mobile;
            font-size: 30px;

            .eventName {
                display: none;
            }
        }

        button {
            margin: 10px 0 10px 12px;
            height: 32px;
            line-height: 32px;
        }
    }

}
