$font-family: "Source Sans Pro", "Arial", sans-serif;

// layout
$header-height: 80px;
$brand-color: #e62b1e;

@mixin brand-button {

    font-family: $font-family;
    background: #fff;
    font-size: 20px;
    height: 50px;
    padding: 0 12px;
    line-height: 50px;
    color: $brand-color;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    outline: none;
    border: none;
    cursor: pointer;
    transition: transform .2s, -webkit-transform .2s, box-shadow .2s;

    &:hover, &:active {
        box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.3);
        transform: translateY(-3px);
        -webkit-transform: translateY(-3px);
    }

    &:active {
        opacity: 0.7;
    }
}
