$font-family: "Source Sans Pro", "Arial", sans-serif;

// layout
$header-height: 80px;
$brand-color: #e62b1e;

@mixin brand-button {
    
    font-family: $font-family;
    height: 60px;
    padding: 0 12px;
    line-height: 60px;
    background: #ccc;
    
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    transition: transform .2s, -webkit-transform .2s, box-shadow .2s;

    &.color {
        background: $brand-color;
        color: white;
    }

    &:hover, &:active {
        box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.3);
        transform: translateY(-3px);
        -webkit-transform: translateY(-3px);
    }

    &:active {
        opacity: 0.7;
    }
}

